<div class="navbar">
  <div class="nav-element">
    <%= link_to 'Home', root_path %>
  </div>
  
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
      <div class="nav-element">
        <%= link_to 'Sign In', new_user_session_path %>
      </div>
      <div class="nav-element">
        <%= link_to 'Sign Up', root_path %>
      </div>
  <% end %>



</div>