<% left = left || ''%>
<% right = right || ''%>
<% center = center || 'Crank'%>

<div class="top-bar-container">
  <div class='top-bar-element'>
    <%= left %>
  </div>
  <div class='top-bar-element'>
    <h3><%= center %></h3>
  </div>
  <div>
    <%= right %>
  </div>
</div>