<% left = left || ''%>
<% right = right || ''%>
<% center = center || (link_to 'Crank', root_path)%>

<div class="top-bar-container">
  <div class='top-bar-element'>
    <%= left %>
  </div>
  <div class='top-bar-element center-element'>
    <h3><%= center %></h3>
  </div>
  <div class='top-bar-element'>
    <%= right %>
  </div>
</div>