<%= render  "shared/top-bar", center:'Discover' %>
<div class='container pl-0 pr-0'>
  <% @posts.each do |post| %>
  <%= render  "shared/post-card", post: post %>
  <% end %>
</div>
<%= render 'shared/navbar' %>