<%= render  "shared/top-bar", left:(link_to 'Back', :back) %>

<div class='container'>
  <%= render  "shared/post-card", post: @post %>
  <h3> Comments </h3>
  <% if @post.comments.count > 0 %>
  <% @post.comments.reverse.each do |comment| %>
  <%= render  "shared/comment-card", comment: comment %>
  <% end %>
  <% else %>
  <p> There are 0 comments on this crank</p>
  <% end %>

</div>