.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $dark-background; 
  color: white;
  display: flex;
  justify-content: space-around;
  z-index: 999;
  border-top: solid 1px $gray;
  padding: 0.5rem!important;
}

.padded {
  padding: 8px 32px;
}