.post-card {
  padding: 24px 12px;
  border-bottom: 1px solid $gray;
}

.post-thumbnail {
  padding: 24px 12px;
}

.post-user-info {
}

.buttons-bar {
  padding: 8px 0px;
  display: flex;
  justify-content: space-around;
}