.top-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 1px solid #55555599;
}